.search_box{
	padding-top: 7px;
	padding-bottom: 43px;
	background-color: #BCF5A9;
	width: 100%;
}
#wrapper{
	border:1px #D8D8D8 solid;
	padding:10px;
	width: 310px;
	height: 230px;
	background-color: white;

	/*background-image: linear-gradient(to left, rgba(0, 0, 0, .001) 0, rgba(0, 100, 0, .5) 100%);*/
}
#wrapper:hover{
	-moz-box-shadow: 5px 5px 5px #999;
	-webkit-box-shadow: 5px 5px 5px #999; 
	box-shadow: 5px 5px 5px #999;
}

.pagination >li>a:hover{
	color:#21610B;
	background-color: #BCF5A9;
	
}
.buying_info{
	width: 100%;
	background-color: #F2EFFB;
}